.content-error {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 8px 0;
}

.icon-error {
  color: rgb(241, 192, 29);
  margin-top: 8px;
}

.warn{
    font-size: 50px !important;
    width: 50px;
    height: 60px;
    padding: 0;
}
