<div class="container">
  <h2>Bienvenidos!</h2>
  <p>
    <strong>rickymorty</strong> es una aplicación creada sin fines lucrativos, desarrollada en Angular 15, la cual
    utiliza la API de
    <strong class="link">https://rickandmortyapi.com/api/</strong> para recopilar datos sobre la serie animada del mismo nombre.
  </p>
  <p>
    Aqui puedes buscar información sobre los personajes e la serie, pudiendo filtrar por nombre y estado. Además de encontrar datos sobre los episodios como su código y su fecha de emisión.
  </p>

  <h5>Creada por Eduardo Mancilla</h5>
</div>
