<div class="container">
  <div class="content">
    <div class="text-centered">
      <input
        class="campo-buscar w-100"
        placeholder="Buscar episodio por nombre"
        type="text"
        id="filterText"
        [formControl]="filterText"
        (keyup.enter)="filterEpisodes()"
      />
    </div>

    <div class="pagination-zone">
      <button
        (click)="filterEpisodes()"
        mat-flat-button
        color="primary"
        style="margin-right: 8px;"
      >
        Buscar
      </button>
      <button
        (click)="reset()"
        mat-flat-button
        color="primary"
      >
        Reestablecer
      </button>
    </div>

    <div class="item-result" *ngFor="let item of episodios" (click)="showEpisode(item)">
      <span class="item-code">{{ item.episode }}</span> |
      {{ item.name }}
    </div>

    <div class="pagination-zone">
      <button
        class="arrow-btn"
        [disabled]="disablePrev"
        (click)="firstPage()"
        mat-flat-button
        color="primary"
      >
      <mat-icon aria-hidden="false" fontIcon="first_page"></mat-icon>
      </button>

      <button
        class="arrow-btn"
        [disabled]="disablePrev"
        (click)="prevPage()"
        mat-flat-button
        color="primary"
      >
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
      </button>

      <input
        class="campo-buscar num-pagina"
        placeholder="pag"
        type="number"
        id="selectPage"
        style="width: 20px;"
        [formControl]="selectPage"
        (keyup.enter)="goToPage()"
      />

      <button
        class="arrow-btn"
        [disabled]="disableNext"
        (click)="nextPage()"
        mat-flat-button
        color="primary"
      >
      <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
      </button>

      <button
        class="arrow-btn"
        [disabled]="disableNext"
        (click)="lastPage()"
        mat-flat-button
        color="primary"
      >
      <mat-icon aria-hidden="false" fontIcon="last_page"></mat-icon>
      </button>

      <span class="pagination">
        pag <strong>{{ numPage }}</strong> de
        <strong>{{ totalPages }}</strong></span
      >
    </div>
  </div>
</div>
