/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
    margin: 0 auto;
    justify-content: center;
    max-width: 720px !important;
}

.item-result {
  width: 80%;
  padding-top: 8px;
  min-height: 28px;
  margin: 0 auto;
  align-items: center;
  font-size: 12pt;
  cursor: pointer;
  border-bottom: 1px solid rgb(82, 168, 25);
}

.item-code {
  color: rgb(72, 21, 114);
  font-weight: 500;
}

.item-result:hover {
  background-color: rgb(193, 228, 170);
}
.content {
  display: flex;
  flex-direction: column;
}

.pagination {
  font-size: 9pt;
}

.pagination-zone {
  margin-top: 20px;
  text-align: center;
}

.campo-buscar {
  border: none;
  border-bottom: 1px solid rgb(82, 168, 25);
  height: 25px;
  margin: 12px 0 0 0;
}

.w-100{
  width: 100%;
}

.campo-buscar:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(72, 21, 114);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.num-pagina {
  width: 44px;
  margin: 0 8px;
}

.arrow-btn {
  min-width: 2px !important;
}

.mdc-button--unelevated, .mdc-button {
  padding: 4px !important;
}

mat-icon {
  margin: 0;
  padding: 0 0 0 8px;
}

.titleModal {
  width: 100%;
  background-color: rgb(82, 168, 25);
  height: 36px;
  text-align: center;
}

.modal-title-text {
  margin: 0;
  color: rgb(72, 21, 114);
  padding-top: 4px;
  font-weight: 600;
}

.modal-content {
  margin: 0 auto;
  margin-top: 8px;
  width: 85%;
  margin-bottom: 8px;
}

.datoEpisodio {
  border-bottom: 1px solid rgb(82, 168, 25);
}

.datoEpisodio-title {
  color: rgb(72, 21, 114);
  font-weight: 600;
  margin: 4px 0 !important;
}

.button-area {
  margin-top: 8px;
  text-align: right;
}
